<!DOCTYPE html>
<html>
<head>
  <title>FreeboxLogger</title>
  <%= stylesheet_link_tag    "freebox_logger/application", media: "all" %>
  <%= javascript_include_tag "freebox_logger/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
